<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618634774010-v2j4mpncql6r46ha6dbkv23o5qb5q92s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618634774010-v2j4mpncql6r46ha6dbkv23o5qb5q92s</string>
	<key>API_KEY</key>
	<string>AIzaSyDzzU6JMIObem1lH2bB6JdShVywn1L_fqg</string>
	<key>GCM_SENDER_ID</key>
	<string>618634774010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseExample</string>
	<key>PROJECT_ID</key>
	<string>fir-example-564e1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-564e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618634774010:ios:e27e9deacd10e0bf0a9043</string>
</dict>
</plist>